// Typography Variables

$font-weight-normal: 300;
$font-weight-bold: 700;

$font-stack-primary: 'Lato', sans-serif;

// Color Variables

$clr-font: #777; // Defines main font theme
$clr-font-contrast: #fff; // Contrast color for fonts 

$clr-primary: #58e1c1; // Primary thematic color
$clr-secondary: #51ddfc; // Secondary thematic color

$btn-default: #51ddfc; // Default button color
$btn-success: #63cc82; // Success button color
$btn-error: #e4757a; // Error button color
$btn-warning: #fd7856; // Warning button color
$btn-info: #927bc1; // Info button color

$img-brdr: #ccc; // Defines image border color

// Column element colors 

$clr-col-1: #927bc1;
$clr-col-2: #fd7856;
$clr-col-3: #deb2ee;
$clr-col-4: #7ee6fd;
$clr-col-5: #88d9a0;
$clr-col-6: #4da2bb;
$clr-col-7: #ec9fa3;
$clr-col-8: #fd9f85;
$clr-col-9: #e4757a;
$clr-col-10: #63cc82;
$clr-col-11: #51ddfc;
$clr-col-12: #80e8d1;


// Media Variables

$break: 768px; // for media query breakpoint 
$max-width: 1400px; // for max-width definition





