/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: $font-stack-primary;
  color: $clr-font;
  box-sizing: border-box;
}

p {
  line-height: 1.45em;
}

a {
  text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
    color: $clr-primary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: $font-weight-normal;
    color: $clr-font;
  }
  
  .link {
    color: $clr-secondary;
    font-weight: 700;
  }
  
  .blockquote {
    font-size: 1.5em;
    font-weight: $font-weight-normal;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $clr-primary;
    border-radius: 5px;
  }